<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740371333070-n3v3erroo5180vihk978i0jfruqb9qu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740371333070-n3v3erroo5180vihk978i0jfruqb9qu9</string>
	<key>API_KEY</key>
	<string>AIzaSyA72DgDs3QJ4PDmvazfMeUOrAy_x9DEgHY</string>
	<key>GCM_SENDER_ID</key>
	<string>740371333070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flexFit</string>
	<key>PROJECT_ID</key>
	<string>flex-fit-f31cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flex-fit-f31cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740371333070:ios:62ed17b19f5faf5970b59f</string>
</dict>
</plist>